* {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0A0A23;
}

.container {
    position: relative;
    max-width: 600px;
    height: 500px;
    padding: 0px;
    color: #000;
    text-align: center;
}

.language-section {
    background: #FFF;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    background: #FEAC32;
    color: #0A0A23;
    font-size: 22px;

}

.title {
    color: #FFF;
}

.content {
    margin-top: 20px;
    font-size: 20px;

}

.description {
    color: #FFF;
}
